.app-container {
    padding: 10px;
    background-color: #f0f4ff;
    border-radius: 8px;
}

.hp-header {
    display: flex;
    justify-content: space-between;

}

.buttons-navbar {
    /* padding: 20px; */
    margin: 20px;
    gap: 10px;
    display: flex;
    justify-content: left;
}

